{#
Blaukos - PHP Micro Framework

MIT License

Copyright (C) 2021 Christophe LEMOINE

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
#}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir }}">
<head>
    <meta charset="{{ charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ env('APP_NAME') }} - {{ "Lien de réinitialisation du mot de passe"|_ }}</title>
    <meta name="author" content="{{ env('APP_AUTHOR_NAME') }} <{{ env('APP_AUTHOR_EMAIL') }}>">
    <meta name="copyright" content="{{ env('APP_COPYRIGHT') }}">

    <meta name="generator" content="{{ env('APP_NAME') }}">
</head>
<body style="margin: 0; padding: 2rem; font-family: sans-serif; font-size: 1rem; background-color: #fff; color: #111;">
<div style="display: flex; flex-flow: column nowrap; justify-content: start; align-items: start; width: 100%; max-width: 600px; margin: 0 auto;">
    <div style="margin-bottom: 2rem;">
        <h1 style="display: inline-block; margin: 0; padding: 0; vertical-align: middle;">{{ env('APP_NAME') }}</h1>
    </div>
    <div style="padding: 0.5rem; text-align: center; background-color: #E7D0D9; width: 100%; border-radius: 6px;">
        {{ "Votre demande de réinitialisation de mot de passe."|_ }}
    </div>
    <div style="padding: 1rem;">
        <h2>{{ replace("Bonjour %s"|_, user.displayName) }}</h2>
        <p>
            {{ replace("Nous avons reçu une demande de réinitialisation de votre mot de passe pour l'adresse : %s. Nous sommes là pour vous aider !"|_, user.email) }}
            <br>
            {{ "Cliquez sur le bouton pour créer un nouveau mot de passe :"|_ }}
        </p>
        <p style="font-style: italic; font-size: small; text-align: center;">
            {{ replace("Ce lien expirera le %s à %s, assurez-vous de l’utiliser au plus tôt."|_, dLong(user.resetLinkValidity), tShort(user.resetLinkValidity)) }}
        </p>
        <p style="margin-top: 3rem; margin-bottom: 3rem; text-align: center;">
            <a href="{{ link }}"
               style="display: block; width: auto; margin: 0 auto; padding: 1rem; background-color: #900C3F; border-radius: 6px; color: #fff; text-decoration: none;">{{ "Modifier votre mot de passe"|_ }}</a>
        </p>
        <p>
            {{ "Si vous n'avez pas demandé à changer votre mot de passe, veuillez ignorer cet e-mail. (Ps: Votre mot de passe restera le même)."|_ }}
        </p>
    </div>
</div>
</body>
</html>