{#
Blaukos - PHP Micro Framework

MIT License

Copyright (C) 2021 Christophe LEMOINE

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
#}
{% set isAdmin = true %}
{% set title = "Retrouver mon mot de passe"|_ %}
{% set breadcrumb = [
    ["Accueil"|_, "home"],
    ["Mot de passe oublié"|_, "passwordreset"]
] %}

{% extends 'body.html.twig' %}

{% block styles %}
    {% if env('APP_AUTH_USE_JS', true) %}
        <link rel="preload" as="script" href="/scripts/auth/auth.js">
        <link rel="preload" as="script" href="/scripts/auth/passwordreset.js">
    {% endif %}
{% endblock %}
{% block scripts %}
    {% if env('APP_AUTH_USE_JS', true) %}
        <script type="text/javascript" src="/scripts/auth/auth.js"></script>
        <script type="text/javascript" src="/scripts/auth/passwordreset.js"></script>
    {% endif %}
{% endblock %}

{% block main %}
    <article class="container-fluid m-0 px-0 py-4 small">

        <div class="mx-auto" style="width: 100%; max-width: 25rem;">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-passwordreset-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-passwordreset" type="button" role="tab"
                            aria-controls="nav-passwordreset" aria-selected="false"><i
                                class="fas fa-language me-2 d-none d-sm-inline-block"></i>{{ "Redéfinir mon mot de passe"|_ }}
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

                {% if env('APP_AUTH_USE_JS', true) %}
                    <div class="bg-white border-start border-end m-0 px-3 pt-3">
                        <div id="alert" class="alert alert-danger m-0 d-none" role="alert"></div>
                    </div>
                {% endif %}

                <div class="tab-pane bg-white border-start border-bottom border-end p-3 show active"
                     id="nav-passwordreset" role="tabpanel" aria-labelledby="nav-passwordreset-tab">
                    {% if error is defined %}
                        <p class="lead text-danger">
                            {{ "Houston, nous avons un problème!"|_ }}
                        </p>
                        <p class="text-muted mb-4">
                            {{ error }}
                        </p>
                        <div class="d-flex flex-row gap-2 justify-content-between align-items-center mt-4">
                            <a class="btn btn-sm btn-outline-secondary" href="{{ route('home') }}"
                               role="button">{{ "retour"|_ }}</a>
                        </div>
                    {% else %}
                        <form id="form_passwordreset" method="{{ formMethodPasswordReset }}"
                              action="{{ actionPasswordReset }}">

                            <p class="lead">{{ "Vous êtes sur le point de modifier votre mot de passe."|_ }}</p>
                            <p class="small text-muted mb-4">{{ "Choisissez un nouveau mot de passe. Répétez l'opération pour le confirmer."|_ }}</p>

                            {{ csrfFieldPasswordReset|raw }}

                            <label for="form_reset_password" class="form-label">Nouveau mot de passe</label>
                            <div class="input-group input-group-sm flex-nowrap">
                                <input type="password" class="form-control" id="form_reset_password" name="password"
                                       placeholder=" " aria-label="{{ "Mot de passe"|_ }}"
                                       aria-describedby="passwordView" onfocus="this.value=''" autocomplete="off"
                                       required>
                                <span class="input-group-text text-muted" style="cursor: pointer;" id="passwordView"
                                      title="{{ "Voir le mot de passe"|_ }}"
                                      onmousedown="document.getElementById('form_reset_password').setAttribute('type', 'text');"
                                      onmouseup="document.getElementById('form_reset_password').setAttribute('type', 'password');">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                            <div class="progress mt-1 mb-3" style="height: 2px;">
                                <div id="form_reset_password_strength" class="progress-bar bg-danger" role="progressbar"
                                     style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="small text-muted mb-4">{{ "8 caractères minimum, minimum 1 minuscule, 1 majuscule, 1 chiffre et 1 caractère spécial."|_|raw }}</p>

                            <label for="form_reset_passwordbis" class="form-label">Confirmer le mot de passe</label>
                            <div class="input-group input-group-sm flex-nowrap mb-1">
                                <input type="password" class="form-control" id="form_reset_passwordbis"
                                       name="passwordbis" placeholder=" " aria-label="{{ "Mot de passe"|_ }}"
                                       aria-describedby="passwordView" onfocus="this.value=''" autocomplete="off"
                                       required>
                                <span class="input-group-text text-muted" style="cursor: pointer;" id="passwordViewBis"
                                      title="{{ "Voir le mot de passe"|_ }}"
                                      onmousedown="document.getElementById('form_reset_passwordbis').setAttribute('type', 'text');"
                                      onmouseup="document.getElementById('form_reset_passwordbis').setAttribute('type', 'password');">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>

                            <div class="d-flex flex-row gap-2 justify-content-between align-items-center mt-4">
                                <a class="btn btn-sm btn-outline-secondary" href="{{ route('home') }}"
                                   role="button">{{ "retour"|_ }}</a>
                                <span id="form_passwordreset_spinner"
                                      class="spinner-border spinner-border-sm text-secondary me-3 d-none" role="status"
                                      aria-hidden="true"></span>
                                <input id="form_passwordreset_submit" type="submit" class="btn btn-sm btn-primary"
                                       role="submit" value="{{ "valider"|_ }}">
                            </div>
                        </form>
                    {% endif %}

                </div>

            </div>

            <div class="m-0 mt-5 p-0 text-center">
                <a href="{{ env('BLAUKOS_URL') }}" target="_blank" rel="noopener"
                   title="{{ env('BLAUKOS_NAME') }} v{{ env('BLAUKOS_VERSION') }}">
                    <img src="/images/logo48.png" width="48" height="48"
                         alt="{{ env('BLAUKOS_NAME') }} v{{ env('BLAUKOS_VERSION') }}">
                </a>
            </div>
        </div>

    </article>
{% endblock main %}